* {
  scrollbar-width: thin;
}

body {
  min-width: 1000px;
  background-color: rgba(128, 128, 128, 0.088);
  margin-right: 1%;
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For WebKit browsers (Safari, Chrome) */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none;
}

.btn.btn-outline-success {
  padding: 10px 30px;
}

.btn.btn-outline-danger {
  padding: 10px 30px;
  float: right;
}

.btn.btn-outline-secondary {
  padding: 10px 30px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.tickets-board {
  margin-top: 2.3%;
  width: 30%;
  padding: 0px;
}

.ticket-table {
  width: 100%;
  margin-bottom: 0px;
}

.ticket-table thead tr {
  text-align: left;
}

.ticket-table th,
.ticket-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ticket-table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.summary-table {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

.summary-table td {
  padding: 10px;
  font-weight: bold;
}

.summary-table td:nth-child(2) {
  text-align: right;
}

.alert-box {
  background-color: #000000e8;
  color: red;
  border-left: 5px solid red;
  border-radius: 8px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  width: 32%;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-out;
  position: fixed;
  transition: opacity 0.4s ease;
  bottom: 1%;
  left: 1%;
  z-index: 900;
}

.close-btn {
  background: none;
  color: white;
  border: none;
  font-size: x-large;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert-box.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}
